.codeStyle{
    
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px rgb(248, 8, 8);
    word-spacing: 3px;
    letter-spacing: 1px;
}