.codeStyle{
    
    color: rgb(255, 255, 255);
    padding-right: 50px;
    font-weight: bold;
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px rgb(192, 0, 0);
    word-spacing: 5px;
    letter-spacing: 1px;
}


@media screen and (min-width: 601px) {
    .codeStyle {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
   .codeStyle {
      font-size: 10px;
    }
  }