.navTextStyleHeading{
    position: relative;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 2px 5px;
    padding-right:10px;
    color: #03fb7f;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: 0.5s;
    /* letter-spacing: 4px; */
    overflow: hidden;
    border-radius: 50%;
    font-family: 'Tangerine';
    text-shadow: 4px 4px 4px #aaa;
   
}
.navTextStyleHeading:hover{
    background: transparent;
    border-radius: 50%;
    color: #03fb7f;
    box-shadow: 0 0 5px #dd50ba,
                0 0 10px #70f153,
                0 0 20px #f47878,
                0 0 50px #f468da,
                0 0 200px #f05d93;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
     
}



  .navTextStyle{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;
    color: #03fb7f;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: 0.5s;
    /* letter-spacing: 4px; */
    overflow: hidden;
    border-radius: 50%;
    font-family: 'Tangerine', cursive;
    text-shadow: 4px 4px 4px rgb(8, 244, 248);
}
.navTextStyle:hover{
    background: transparent;
    color: #ff00d4;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

